* {
    box-sizing: border-box;
}

:root {
    --diamond-size: 100px;
    --circle-size: 60px;
}


body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.shape, .rectangle, .top-bar, .room {
    border: 5px solid black;
    transition: all 0.5s ease-in-out;
}

.top-bar{
    height: 10%;
    background-color: #808000;
}

.room{
    position: relative;
    height: 90%;
    background-color: #008000;
    width: 100%;
}

/* Shapes */
.diamond{
    position: absolute;
    width: var(--diamond-size);
    height: var(--diamond-size);
    background-color: #ff0000;
    transform: rotate(45deg);
}

.d1 {top: 5%; left: 20%;}
.d2 {top: 17%; left: 5%;}

.bar{
    position:absolute;
    width: 100px;
    height: 12px;
    background-color: #0000ff;
    left: 5%;
}

.b1 {top: 40%}
.b2 {top: 45%}

.circle{
    position: absolute;
    width:  var(--circle-size);
    height: var(--circle-size);
    background-color: #008080;
    border-radius: 50%;
    top: 40%;
    left: 30%;
}

.rectangle {
    position: absolute;
    right: 5%;     
    top: 10%;       
    height: 400px;    
    width: 200px;
    background-color: #CC3333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
}


/* Resolutions */

@media (max-width: 582px) {
    .rectangle {
        background-color: #0000ff;
        bottom: 2%;
        left: 5%;
        top: auto;
        right: auto;
    }
}

@media (min-width: 901px) {
    .rectangle {
        background-color: #ffffff;
    }
    .bar { 
        left: 45%;
    }
    .b1  { top: 20%; }
    .b2  { top: 25%; }
    
    .circle {
        top: 20%;
        left: 60%;
    }
}